.login {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;

  background-image: url("../images/backgrounds/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app_name {
  color: rgb(247, 222, 85);
}
.app_name ::before {
    color: rgb(247, 222, 85);
  }
  
.sign_in{
    color: #000000;
    margin-right: 5px;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  backdrop-filter: blur(10px);
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  text-transform: inherit !important;
  background-color: #e7db35 !important;
  color: white;
  margin:20px;
}

@media (max-width: 760px) {
  .login__container {
    padding: 100px 50px;
  }
  .login__text > h1 {
    font-size: 28px;
    width: 100%;
  }
}

@media (max-width: 435px) {
  .login__container {
    padding: 50px 25px;
  }
}
